<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <h1>Welcome to IT Guide Lines</h1>
    <p>Choose a category of engineers:</p>
    <ul>
        <li><a href="{% url 'software_engineer_list' %}">Software Engineers</a></li>
        <li><a href="{% url 'data_engineer_list' %}">Data Engineering and AI</a></li>
        <li><a href="{% url 'security_engineer_list' %}">Data Networks and Cybersecurity</a></li>
        <li><a href="{% url 'game_engineer_list' %}">Game and Interactive Technologies</a></li>
    </ul>
</body>
</html>

